#cloud-config
# chpasswd: { expire: False }
ssh_pwauth: true
disable_root: false
users:
  - name: root
    lock_passwd: false
    hashed_passwd: "{{ global_password }}"
    chpasswd: { expire: False }
    ssh_pwauth: true
    ssh_authorized_keys:
      - {{ global_pub_key }}
  - name: {{ user }}
    lock_passwd: false
    hashed_passwd: "{{ global_password }}"
    chpasswd: { expire: False }
    ssh_pwauth: true
    ssh_authorized_keys:
      - {{ global_pub_key }}
runcmd:
  - echo 'PermitRootLogin yes' >> /etc/ssh/sshd_config
  - echo 'PasswordAuthentication yes' >> /etc/ssh/sshd_config
  - systemctl restart ssh
  - dhclient eth0  # Ensure DHCP assigns an IP
network:
  version: 2
  ethernets:
    eth0:
      dhcp4: true

